{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QMS</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>

<body>
    <h1>Queue Management System</h1>

    <div class="container">
        <a href="register" type="button" class="btn btn-lg btn-register">Register</a>
    </div>

    <div class="container">
        <a href="queue details" type="button" class="btn btn-lg btn-queue">View Queue</a>
    </div>
</body>

</html>